@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@import "tailwindcss";

@theme {
  /* Neutral */
  --color-neutral-400: #D0DCD9;
  --color-neutral-300: #E0E6E3;
  --color-neutral-200: #F6F5F1;
  --color-neutral-100: #FFFFFF;
  /* Green */
  --color-green-100: #163A34;
  --color-green-200: #395852;
  /* Orange */
  --color-orange-500: #FE9F6B;
  
  /* Teal */
  --color-teal-500: #49AC9B;
  
  /* Indigo */
  --color-indigo-500: #697DDB;
  
  /* Font Family */
  --font-sans: "Nunito Sans", sans-serif;
  
  /* Spacing */
  --spacing-0: 0px;
  --spacing-025: 2px;
  --spacing-050: 4px;
  --spacing-075: 6px;
  --spacing-100: 8px;
  --spacing-125: 10px;
  --spacing-150: 12px;
  --spacing-200: 16px;
  --spacing-250: 20px;
  --spacing-300: 24px;
  --spacing-400: 32px;
  --spacing-500: 40px;
  --spacing-600: 48px;
  --spacing-800: 64px;
  --spacing-1000: 80px;
  --spacing-1200: 96px;
  --spacing-1400: 112px;
  --spacing-1600: 128px;
  --spacing-1800: 140px;
  
  /* Border Radius */
  --radius-0: 0px;
  --radius-4: 4px;
  --radius-6: 6px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-full: 999px;
}

@layer components {
  
  /* Containers */
  .container {
    @apply max-w-298 mx-auto;
  }
  
  .container--big {
    @apply px-4 max-w-330 mx-auto lg:px-0;
  }
  /* Heading Big - 72px desktop, 64px tablet, 52px mobile */
  .heading-big {
    @apply font-sans font-extrabold text-[52px] leading-[110%] tracking-[-2px] md:text-[64px] lg:text-[72px];
  }
  
  /* Heading Medium - 48px desktop, 40px mobile */
  .heading-medium {
    @apply font-sans font-extrabold text-[40px] leading-[120%] tracking-[-2px] md:text-[48px];
  }
  
  /* Text Big - 32px */
  .text-big {
    @apply font-sans font-bold text-[32px] leading-[130%] tracking-[-1px];
  }
  
  /* Text Medium - 24px */
  .text-medium {
    @apply font-sans font-bold text-[24px] leading-[130%] tracking-[-1px];
  }
  
  /* Text Small - 20px Bold */
  .text-small {
    @apply font-sans font-bold text-[20px] leading-[140%] tracking-[-0.5px];
  }
  
  /* Text Body - 20px Medium */
  .text-body {
    @apply font-sans font-medium text-[20px] leading-[150%] tracking-[-0.4px];
  }
  
  /* Text Caption - 18px SemiBold */
  .text-caption {
    @apply font-sans font-semibold text-[18px] leading-[150%] tracking-[-0.3px];
  }
  
  /* Text Label Bold - 16px Bold */
  .text-label-bold {
    @apply font-sans font-bold text-[16px] leading-[150%] tracking-[-0.3px];
  }
  
  /* Text Label - 16px Medium */
  .text-label {
    @apply font-sans font-medium text-[16px] leading-[150%] tracking-[-0.3px];
  }
  
  /* Text Tiny - 14px Bold */
  .text-tiny {
    @apply font-sans font-bold text-[14px] leading-[150%] tracking-[-0.3px];
  }
  
  .call {
    @apply bg-green-100 rounded-10 py-[1rem] px-[32px] text-neutral-100 font-bold duration-300 hover:bg-green-200 focus:outline-green-100 focus:outline-offset-6;
  }
}

html, body {
  font-family: var(--font-sans);
  background-color: var(--color-neutral-100);
}

body {
  .mobile-nav{
    opacity: 0;
    top: 0;
    transition: all .5s ease-in-out;
    pointer-events: none;
  }
  &[data-menuisopen="true"] {
    .mobile-nav{
      opacity: 1;
      pointer-events: all;
      top: 4.25rem;
    }
  }
}

a {
  .current{
    position: relative;
    &::after{
      content: '';
      position: absolute;
      bottom: -.2rem;
      left: 0;
      width: 100%;
      height: 4px;
      background-color: var(--color-orange-500);
      border-radius: var(--radius-4);
    }
  }
}